<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <link href="./css/index.css" rel="stylesheet">
</head>

<body>
  <div id="content">
    <h1>UserGeneratedQuizGame</h1>
    <h2>You, the user, generate a quiz game, and share it to others. That's pretty much it.</h2>
    <br>
    <button class="button--action">Generate a quiz game</button><button class="button--action">Play a quiz game</button>
  </div>
</body>

</html>